<%= provide(:title, "About") %>

<div class="title2">
  About RUBY <i class="secondary-dark far fa-gem"></i> LYRICS
</div>

<div class="pb5"></div>

<div class="best">
  I created let:lyrics as a fun side-project back in 2015 when I first really started learning how to create websites with backend code like Ruby.

  The first version of let:lyrics ran from 2015 to 2019.

  The second version of let:lyrics was a challenge for myself. I wanted to see how far I'd come since 2015. How would I code the same site now, in 2020?

  It's called RUBY <i class="far fa-gem"></i> LYRICS.

  It's bigger, faster, and stronger, too.

  I built this with Ruby on Rails.
</div>

<div class="pb10"></div>