<%= provide(:title, sanitize(@album.name + " Lyrics : " + @artist.name)) %>

<% if @tracks.any? %>

  <div class="mini-text bold">
    <span class="border-bottom">TRACKS</span>
  </div>

  <div class="pb1"></div>

  <% @tracks.each do |track| %>

    <%= link_to track.name, artist_album_track_path(@artist, @album, track), class: "third-link" %>
    <div class="pbhalf"></div>

  <% end %>

<% end %>