<%= provide(:title, sanitize(@album.name) + "'s Lyrics") %>

<% if @tracks.any? %>

  <div class="mini-text bold">
    <span class="border-bottom">TRACKS</span>
  </div>

  <div class="pb1"></div>

  <% @tracks.each do |track| %>
    
    <div class="title1">
      <%= link_to track.name, artist_album_track_path(@artist, @album, track), class: "secondary-link" %>
    </div>
    <div class="pb1"></div>

  <% end %>

<% end %>