<header class="header-container pt1 pb1">
  <div class="header-line-height">
    <div class="flex">

      <div class="home-nav-container center">

        <nav class="header">
          <li><%= link_to 'All Artists', artists_path, class: 'nav-links' %></li>
          <li class="site-form-click"><span class="nav-links bold">Add Lyrics</span></li>
          <% if user_signed_in? %>
            <li><%= link_to 'Account', user_path(current_user), class: 'nav-links' %></li>
            <li><%= link_to 'Sign Out', sign_out_path, class: 'nav-links' %></li>
          <% else %>
            <li class="site-form-click"><span class="nav-links bold">Sign In</span></li>
            <li class="register-click"><span class="nav-links-border bold">Register</span></li>
          <% end %>
        </nav>

      </div>

    </div>
  </div>
</header>