<div class="pb5"></div>
<div class="nd-container">
  <%= link_to('https://www.ninth.digital') do %>
    <div class="az-padding">

      <div class="flex">
        <div class="display-small-container">
          <%= image_tag("ninth-digital-logo.png", alt: "Ninth Digital Logo") %>
        </div>
        <div class="az-song-container">
          <div class="az-title1">
            <span class="nd-main bold">ninth</span><span class="nd-black normal">.</span><span class="nd-secondary thin">digital</span>
            <div class="border-bottom"></div>
          </div>
          <div class="mini-text nd-black">
            A Website Builder for Busy People
          </div>
        </div>
      </div>

    </div>
  <% end %>
</div>
<div class="pb5"></div>