<div class="pb5"></div>
<div class="nfyi-container">
  <%= link_to('http://www.ninth.fyi') do %>
    <div class="az-padding">

      <div class="flex">
        <div class="display-small-container">
          <%= image_tag("ninth-fyi-logo.png", alt: "Ninth FYI Logo") %>
        </div>
        <div class="az-song-container">
          <div class="az-title1 nfyi-main">
            <span class="nfyi-1">n</span><span class="nfyi-2">i</span><span class="nfyi-3">n</span><span class="nfyi-4">t</span><span class="nfyi-5">h</span><span class="nfyi-6">.</span><span class="nfyi-7">f</span><span class="nfyi-8">y</span><span class="nfyi-9">i</span>
            <div class="border-bottom-white"></div>
          </div>
          <div class="mini-text nfyi-white">
            Free Facts for Your Intelligence!
          </div>
        </div>
      </div>

    </div>
  <% end %>
</div>
<div class="pb5"></div>