<div class="pb5"></div>
<div class="nd-container">
  <%= link_to('https://www.ninth.digital') do %>
    <div class="nd-padding">

      <div class="nd-logo-container">
        <div class="nd-logo">
          <%= image_tag("ninth-digital-logo.png", alt: "Ninth Digital Logo") %>
        </div>
      </div>

      <div class="center title2">
        <span class="nd-main bold nd-title-underline">ninth</span><span class="nd-black normal nd-title-underline">.</span><span class="nd-secondary thin nd-title-underline">digital</span>
      </div>

      <div class="pb1"></div>

      <div class="title1 nd-black center">
        A Website Builder
        <div class="pbhalf"></div>
        For Busy People
      </div>

    </div>
  <% end %>
</div>
<div class="pb5"></div>