<div class="pb5"></div>
<div class="nd-container">
  <%= link_to('http://www.ninth.fyi') do %>
    <div class="az-padding">
      "Candle sticks in the dark, these are some bodies being burned." - clipping.
    </div>
  <% end %>
</div>
<div class="pb5"></div>