<% if @artists.any? %>

  <div class="mini-text bold">
    <span class="border-bottom">ARTISTS</span>
  </div>

  <div class="pb1"></div>

  <% @artists.each do |artist| %>
    
    <div class="title1">
      <%= link_to artist.name, artist_path(artist) %>
    </div>

    <div class="pb1"></div>

  <% end %>

  <% if @artists.count > 24 %>
    <%= paginate @artists %>
  <% end %>

<% end %>