$main: #754DB7; /* emerald */
$main-dark: #6643A0;
$main-light: #F0EBF7;

$secondary: #ff4674; /* carrot */
$secondary-dark: #DF3D66;
$secondary-light: #FFEBF0;

$third: #FA5634; /* carrot */
$third-dark: #DB4B2E;
$third-light: #FEECE9;

$green: #19de6b; /* seaweed */
$green-dark: #16c25e; /* seaweed */
$green-light: #e2fbec;

$red: #de192a; /* pomegranate */
$red-dark: #c21625; /* pomegranate */
$red-light: #fbe2e4; /* pomegranate */

$black: #202324; /* cannonball */
$border: #a0a9ab; /* buffalo */
$white: #fdfdfd; /* ghost */
$grey: #cfd4d5; /* gallery */
$darkgrey: #808c8f; /* shade */

$background_color: #F2FBF5;
$border_color: #D4DCD6;

$fancy: Nunito, Arial, sans-serif;

$boxborder: 2px solid #ccc;
$letterspacer: 0.25px;
$radius: 5px;
$color-background: 
  linear-gradient(0deg, rgba(253, 253, 253, 1) 25%, rgba(253, 253, 253, 0.5) 50%, rgba(253, 253, 253, 0) 100%),
  linear-gradient(225deg, #754db7, rgba(117, 77, 183, 0) 70%),
  linear-gradient(135deg, #ff4674, rgba(255, 255, 255, 0) 70%),
  linear-gradient(45deg, #ffb6a2, rgba(255, 182, 162, 0) 70%),
  linear-gradient(315deg, #4674ff, rgba(70, 116, 255, 0) 70%);

$spacerhalf: 5px;
$spacer1: 10px;
$spacer2: 20px;
$spacer3: 30px;
$spacer4: 40px;
$spacer5: 50px;
$spacer7: 70px;
$spacer10: 100px;

/* ******************** VARIABLES ***************** */

/**** FORMS ****/

$formminheight: 54px;
$formlineheight: 30px;

$shadow: 0 0px 20px -12px rgba(32, 35, 36, 0.42), 0 0px 20px 0px rgba(32, 35, 36, 0.12), 0 0px 10px -5px rgba(32, 35, 36, 0.2);
$shadow-lite: 0 2px 2px 0 rgba(32, 35, 36, 0.14), 0 3px 1px -2px rgba(32, 35, 36, 0.12), 0 1px 5px 0 rgba(32, 35, 36, 0.2);

/* ****************************** MIXIN ****************************** */

@mixin transition {
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

@mixin textLabels {
  font-weight: 700;
}

/* ****************************** UNIVERSAL ****************************** */

body {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: $letterspacer;
  font-family: $fancy;
  font-weight: 400;
  background: $white;
  color: $black;
  -webkit-font-smoothing: antialiased;
}

a {
  font-weight: 700;
  @include transition;
  color: $main;
  text-decoration: none;
  &:hover {
    color: $black;
  }
}

.first-link-dark {
  font-weight: 700;
  @include transition;
  color: $main-dark;
  text-decoration: none;
  &:hover {
    color: $black;
  }
}

.secondary-link {
  font-weight: 700;
  @include transition;
  color: $secondary;
  text-decoration: none;
  &:hover {
    color: $black;
  }
}

.secondary-link-dark {
  font-weight: 700;
  @include transition;
  color: $secondary-dark;
  text-decoration: none;
  &:hover {
    color: $black;
  }
}

.third-link {
  font-weight: 700;
  @include transition;
  color: $third;
  text-decoration: none;
  &:hover {
    color: $black;
  }
}

.third-link-dark {
  font-weight: 700;
  @include transition;
  color: $third-dark;
  text-decoration: none;
  &:hover {
    color: $black;
  }
}

::selection {
  color: $white;
  background: $main;
}

::-moz-selection {
  color: $white;
  background: $main;
}

.white {
  color: $white;
  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }
}

.secondary-dark {
  color: $secondary-dark;
}

.color-background {
  width: 100%;
  height: 1000px;
  background: $color-background;
  position: absolute;
  z-index: -1;
}

.container {
  width: 94%;
  margin: 0 auto;
  max-width: 600px;
}

.flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.half-container-no-split {
  margin: 0;
  width: 48%;
  display: inline-block;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.bold {
  font-weight: 700;
}

.normal {
  font-weight: 400;
}

.thin {
  font-weight: 300;
}

.border {
  box-sizing: border-box;
  border: $boxborder;  /* #444 */
  border-radius: $radius;
  padding: $spacer3 $spacer3;
  background: $black;
}

.border-bottom {
  border-bottom: 2px solid $black;
}

.border-bottom-white {
  border-bottom: 2px solid $white;
}

.best {
  word-break: break-word;
  white-space: pre-line;
  margin-top: -30px;
  div {
    margin-bottom: -30px;
  }
}

.besttitle {
  line-height: 1.25em;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: -37.5px;
}

/* ****************************** TITLES ****************************** */

.mini-text {
  font-size: .75em;
  font-weight: 400;
}

.title1 {
  font-size: 1.35em;
  font-weight: 700;
}

.title2 {
  line-height: 1.35em;
  font-size: 2em;
  font-weight: 700;
}

.title3 {
  line-height: 1.35em;
  font-size: 3em;
  font-weight: 700;
}

.title10 {
  line-height: 1em;
  font-size: 10em;
  font-weight: 700;
}

/* ****************************** PADDING ****************************** */

.pbhalf {
  padding-bottom: $spacerhalf;
}

.pt1 {
  padding-top: $spacer1;
}

.pb1 {
  padding-bottom: $spacer1;
}

.pl1 {
  padding-left: $spacer1;
}

.pr1 {
  padding-right: $spacer1;
}

.pt2 {
  padding-top: $spacer2;
}

.pb2 {
  padding-bottom: $spacer2;
}

.pl2 {
  padding-left: $spacer2;
}

.pr2 {
  padding-right: $spacer2;
}

.pb3 {
  padding-bottom: $spacer3;
}

.pb4 {
  padding-bottom: $spacer4;
}

.pt3 {
  padding-top: $spacer3;
}

.pb5 {
  padding-bottom: $spacer5;
}

.pb7 {
  padding-bottom: $spacer7;
}

.pt10 {
  padding-top: $spacer10;
}

.pb10 {
  padding-bottom: $spacer10;
}

/* ****************************** FORMS ****************************** */

textarea:focus, input:focus {
  @include transition;
  outline: none;
}

label {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-position: under;
}

input, textarea {
  @include transition;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $border;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $border;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $border;
}
:-moz-placeholder { /* Firefox 18- */
  color: $border;
}

@mixin fields {
  @include transition;
  width: 100%;
  font-size: 1.25em;
  font-weight: 400;
  display: inline-block;
  box-sizing: border-box;
  border-radius: $radius;
  font-family: $fancy; 
  letter-spacing: .5px;
  border: 2px solid $border;
  color: $black;
  &:hover {
    @include transition;
    border: 2px solid $darkgrey;
  }
  &:focus {
    @include transition;
    border: 2px solid $black;
  }
}

.text-field {
  @include fields;
  padding: $spacer2;
  background: #eee; /* #555 */
}

.select-field {
  @include fields;
  padding: $spacer2;
  text-indent: $spacer2;
  background: url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right $white;
  -webkit-appearance: none;
  background-position-x: 12px;
}

.text-area {
  @include fields;
  min-width: 100%;
  max-width: 100%;
  min-height: 300px;
  max-height: 800px;
  height: 300px;
  padding: $spacer2;
  background: #eee;
  display: block;
}

.field {
  margin: 0 0 $spacer3 0;
}

@mixin buttons($color, $dark, $light) {
  @include transition;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  border-radius: $radius;
  box-sizing: border-box;
  font-family: $fancy;
  letter-spacing: 0px;
  padding: $spacer1 $spacer1;
  background: $color;
  border: 2px solid $dark;
  color: $light;
  -webkit-font-smoothing: unset;
  -webkit-appearance: none;
  &:hover {
    background: transparent;
    color: $color;
    border: 2px solid $color;
  }
}

.main-button {
  @include buttons($main, $main-dark, $main-light);
  font-size: 1.25em;
  padding: $spacer2;
}

.sign-in-button {
  @include buttons(transparent, $secondary, $secondary);
  font-size: 1.25em;
  padding: $spacer2;
  &:hover {
    background: $secondary;
    color: $secondary-light;
    border: 2px solid $secondary-dark;
  }
}

.remember-active {
  @include buttons($secondary, $secondary-dark, $secondary-light);
  height: $formminheight;
  line-height: $formlineheight;
  text-decoration: none;
  &:hover {
    background: $secondary;
    color: $white;
    border: 2px solid $secondary-dark;
  }
}

.remember-inactive {
  @include buttons($secondary, $secondary-dark, $secondary-light);
  font-weight: 400;
  height: $formminheight;
  line-height: $formlineheight;
  text-decoration: none;
  background: $white;
  border: 2px solid $darkgrey;
  color: $darkgrey;
}

.large-main-button {
  @include buttons($main, $main-dark, $main-light);
  padding: $spacer3;
}

.delete-button {
  @include buttons($red, $red-dark, $red-light);
  height: $formminheight;
  line-height: $formlineheight;
}

/* ****************************** HEADER ****************************** */

.header-container {
  width: 94%;
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  li {
    display: inline-block;
    margin-left: $spacer2;
    &:first-child {
      margin-left: 0;
    }
  }
}

.nav-links {
  @include transition;
  border-radius: $radius;
  padding: 10px;
  color: $white;
  border: 2px solid transparent;
  &:hover {
    @include transition;
    color: $white;
    background: $main;
    border: 2px solid $main-dark;
  }
}

.nav-links-border {
  @include transition;
  border-radius: $radius;
  padding: 10px;
  color: $white;
  border: 2px solid $white;
  &:hover {
    @include transition;
    color: $white;
    background: $main;
    border: 2px solid $main-dark;
  }
}

#menu-container {
  display: none;
  width: 100%;
  top: 0;
  right: 0;
  background: $white;
  height: 100%;
  position: fixed;
}

.side-menu {
  z-index: 1005;
  background: $color-background;
  height: 1000px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    li {
      padding: $spacer1 0;
      position: relative;
      font-size: 1.5em;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .nav-links {
    color: $main-dark;
    padding: $spacerhalf 0;
    line-height: 1em;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    &:hover {
      color: $black;
      background: transparent;
      border: none;
    }
  }
  .header-title-container {
    a {
      color: $white;
      &:hover {
        color: $white;
      }
    }
  }
}

.title-container {
  @include transition;
  width: 240px;
  display: inline-block;
}

.nav-container {
  @include transition;
  width: calc(100% - 240px);
  display: inline-block;
}

.home-nav-container {
  @include transition;
  width: 100%;
  display: inline-block;
}

.header-line-height {
  line-height: 60px;
}

.header-title-container {
  @include transition;
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }
}

#menu-click-open {
  @include transition;
  cursor: pointer;
  font-size: 1.5em;
  color: $white;
}

#menu-click-close {
  @include transition;
  cursor: pointer;
  font-size: 1.9em;
  color: $white;
}

/* ****************** FOOTER ****************** */

.full-footer-container {
  width: 94%;
  max-width: 1600px;
  clear: both;
  padding-top: $spacer10;
  margin: 0 auto;
}

.footer {
  font-size: .75em;
  width: 100%;
  display: inline-block;
  .nav-links {
    @include transition;
    color: $darkgrey;
    padding: 0 $spacerhalf;
    border: none;
    &:hover {
      @include transition;
      color: $main;
      background: transparent;
      border: none;
    }
  }
  li {
    position: relative;
    display: inline-block;
    margin: 0 0 0 $spacer1;
    &:first-child {
      margin: 0;
    }
  }
}

.footer-disclaimer {
  font-size: .75em;
  text-align: center;
  color: $darkgrey;
}

/* ****************** DISPLAYS ****************** */

@mixin display_container($color, $color-light) {
  @include transition;
  width: 100%;
  border-radius: $radius;
  color: $black;
  border: 2px solid $black;
  box-sizing: border-box;
  background: $white;
  &:hover {
    @include transition;
    border: 2px solid $color;
    background: $color-light;
  }
}

.az-container {
  @include display_container($main, $main-light);
}

.az-padding {
  padding: 10px;
}

.az-play-container {
  width: 62px;
  display: inline-block;
  font-size: 3em;
}

.az-song-container {
  width: calc(100% - 72px);
  display: inline-block;
}

.az-title1 {
  font-size: 1em;
  font-weight: 700;
}

$nd-main: #fc9580;
$nd-main-light: #fff2ef;

$nd-secondary: #80e7fc;

$nr-main: #5AC081;
$nr-main-light: #FFF6F0;

$nb-main: #C71939;
$nb-main-light: #E7F8F6;

$nfyi-main: #CCE499;
$nfyi-main-light: #fdfdfd;

.nd-container {
  @include display_container($nd-main, $nd-main-light);
}

.nr-container {
  @include display_container($nr-main, $nr-main-light);
}

.nb-container {
  @include display_container($nb-main, $nb-main-light);
}

.nfyi-container {
  @include display_container($black, #444);
  background: $black;
}

.nd-padding {
  padding: 20px;
}

.nd-logo-container {
  width: 100%;
  display: inline-block;
}

.nd-logo {
  margin: 0 auto;
  width: 60px;
  img {
    width: auto;
    height: 60px;
    display: block;
    border-radius: 0px;
  }
}

.nd-main {
  color: $nd-main;
  &:hover {
    color: $nd-main;
  }
}

.nd-secondary {
  color: $nd-secondary;
  &:hover {
    color: $nd-secondary;
  }
}

.nd-black {
  color: $black;
  &:hover {
    color: $black;
  }
}

.nr-main {
  color: $nr-main;
  &:hover {
    color: $nr-main;
  }
}

.nb-main {
  color: $nb-main;
  &:hover {
    color: $nb-main;
  }
}

.nfyi-white {
  color: $white;
  &:hover {
    color: $white;
  }
}

@mixin nfyi-color($color) {
  color: $color;
  &:hover {
    color: $color;
  }
}

$nfyi-1: #CCE499;
$nfyi-2: #95DCB3;
$nfyi-3: #78D4CC;
$nfyi-4: #7AADC0;
$nfyi-5: #8686A3;
$nfyi-6: #926F8D;
$nfyi-7: #BA6987;
$nfyi-8: #DC6F83;
$nfyi-9: #FC9580;

.nfyi-1 {
  @include nfyi-color($nfyi-1);
}

.nfyi-2 {
  @include nfyi-color($nfyi-2);
}

.nfyi-3 {
  @include nfyi-color($nfyi-3);
}

.nfyi-4 {
  @include nfyi-color($nfyi-4);
}

.nfyi-5 {
  @include nfyi-color($nfyi-5);
}

.nfyi-6 {
  @include nfyi-color($nfyi-6);
}

.nfyi-7 {
  @include nfyi-color($nfyi-7);
}

.nfyi-8 {
  @include nfyi-color($nfyi-8);
}

.nfyi-9 {
  @include nfyi-color($nfyi-9);
}

.nd-title-underline {
  border-bottom: 3px solid $black;
}

.display-small-container {
  width: 62px;
  display: inline-block;
  img {
    margin: 0 auto;
    width: auto;
    height: 62px;
    display: block;
    border-radius: 0px;
  }
}

/* ****************** PAGINATION ****************** */

.pagination {
  font-size: 1.25em;
  color: $black;
  font-weight: 700;
  a {
    color: $secondary;
    &:hover {
      color: $black;
    }
  }
}

.next,
.prev,
.page,
.last {
  a {
    padding: 0 $spacerhalf;
  }
}

.current {
  padding: 0 $spacerhalf;
}

/* ****************** JAVASCRIPT ****************** */

#site-form,
#register-form,
.slider-10,
.slider-1,
.slider-2,
.slider-3,
.slider-4,
.slider-5,
.slider-6,
.slider-7,
.slider-8,
.slider-9 {
  display: none;
}

.site-form-click,
.register-click {
  cursor: pointer;
}

.close-form-click {
  @include transition;
  width: auto;
  cursor: pointer;
  font-size: 1.9em;
  line-height: 1.65em;
  color: $white;
  padding-left: 15px;
  &:hover {
    @include transition;
    color: $black;
  }
}

/* **************** MOBILE **************** */

.mobile-only,
.mobile-only-block {
  display: none;
}

/* ***** MEDIA QUERIES ***** */

@media screen and (max-width: 824px) {

  body {
    font-size: 18px;
  }

  .container {
    width: 92%;
  }

  .flash {
    width: 92%;
    left: 3%;
  }

  .mobile-only {
    display: inline-block;
  }
  .mobile-only-block {
    display: block;
  }
  .desktop-only {
    display: none;
  }

  .header {
    li {
      margin-left: $spacer1;
    }
  }

  @mixin mobile-nav {
    float: none;
    text-align: center;
  }

  .nav {
    display: block;
    ul {
      width: 100%;
      display: block;
      li {
        width: 30%;
      }
    }
  }

  .footer {
    text-align: center;
  }

  #menu-container {
    width: 100%;
    box-shadow: none;
  }

  .side-menu {
    ul {
      text-align: center;
      li {
        text-align: center;
        padding: $spacer1 0;
        font-size: 1.25em;
      }
    }
  }

  .az-play-container {
    width: 56px;
  }

  .display-small-container {
    width: 56px;
    img {
      height: 56px;
    }
  }

  .az-song-container {
    width: calc(100% - 66px);
    display: inline-block;
  }

}

@media screen and (max-width: 464px) {

  .header-title-container {
    font-size: 1.35em;
  }

}